<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="A3ServerTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <userSettings>
    <A3ServerTool.Properties.Settings>
      <setting name="LastUsedProfile" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="WindowWidth" serializeAs="String">
        <value>1280</value>
      </setting>
      <setting name="WindowHeight" serializeAs="String">
        <value>640</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="BackgroundTheme" serializeAs="String">
        <value>BaseDark</value>
      </setting>
      <setting name="AccentColor" serializeAs="String">
        <value>Olive</value>
      </setting>
      <setting name="DefaultLanguage" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="AppTitle" serializeAs="String">
        <value>Serverify A3</value>
      </setting>
    </A3ServerTool.Properties.Settings>
  </userSettings>
</configuration>